#image_1 {
    position: absolute;
    width: 324px;
    height: 457px;
    left: 75px;
    top: 100px;

    background: url(.png);
    border-radius: 0px;
}

.mechanical-title {
    font-family: Mechanical;
    font-size: 3em;
}

.vanico-title {
    font-family: monospace;
    font-size: 1.2em;
}

@media (max-width: 992px) {
    .mechanical-title{
        font-size: 1.5em;
    }
    .vanico-title {
        font-size: 0.6;
    }
}