{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/blog_list.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="Blog"> MY BLOG </h1>

        <!-- This section is for the part with the highest comments.  -->
        <div class="comment">
            <div class="comment_image">
                <img src="{{top.main_image.url}}" class="img-fluid">
            </div>
            <div class="comment_text">
            <a href="{% url 'detail_blog' top.id %}">
                <div class="comment_text_time">{{ top.publish_date }}</div>
                <div class="comment_text_title">{{ top.title }}</div>
                <div class="comment_text_texting">A little story about the article with the highest views or the highest comments. Just depends on the one</div>
                <!-- <div class="comment_text_texting">{{ top.content|safe|truncatechars:'104' }}</div> -->
            </a>
            </div>
        </div>

        <div class="blog_1">
            <h1> <span>Latest Release</span></h1>
            <div class="selection">
                {% for blog in trending %}
                    <div class="dandy">
                        <a href="{% url 'detail_blog' blog.id %}">
                            <img src="{{ blog.main_image.url }}" class="That Image img-fluid">
                            <h3 class="sub_title">{{ blog.title }}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="blog_1">
            <h1> <span>Trending</span></h1>
            <div class="selection">
                {% for blog in latest %}
                    <div class="dandy">
                        <a href="{% url 'detail_blog' blog.id %}">
                            <img src="{{ blog.main_image.url }}" class="That Image img-fluid">
                            <h3 class="sub_title">{{ blog.title }}</h3>
                            <p>{{ blog.content|safe|truncatechars:104 }} </p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="hr"></div>
{% endblock %}
