{% extends 'base.html' %}
{% load static %}
{% block title %} All Tags {% endblock %}
{% block body %}
<div class="p-5 text-center bg-body-primary">
    <p class="h1"> All Tags </p>
</div>

<div class="my-5">
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container text-center">
            <div class="justify-content-evenly">
                {% for tag in tags %}
                <a class="col btn btn-{{tag.background_color}} btn-lg" style="margin: 20px;" href="{% url 'blog_tag_details' tag.id %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
