{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %} Create Tag {% endblock %}
{% block body %}
<div class="container py-5 ">
    <p class="h1 text-center">Create Tag</p>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <!-- <input type="submit" name="submit"> -->
            <div class="d-flex gap-2 justify-content-center py-5">
                <button class="btn btn-primary d-inline-flex align-items-center" name="Submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

