{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create Blog {% endblock %}

{% block body %}
    <div class="container">
        <p class="fs-1 text-center">Create A Blog Post</p>
        <form method='post' class="row g-3" enctype="multipart/form-data">
            <link href="https://privatecdn.onrender.com/portfolio/ckeditor/ckeditor.css" media="all" rel="stylesheet">
            <script src="https://privatecdn.onrender.com/portfolio/ckeditor/ckeditor-init.js" data-ckeditor-basepath="https://privatecdn.onrender.com/portfolio/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
            <script src="https://privatecdn.onrender.com/portfolio/ckeditor/ckeditor/ckeditor.js"></script>
            {% csrf_token %}
            {{ form|crispy }}

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
