{% extends 'base.html' %}
{% block title %} {{tag.name}} {% endblock %}
{% block body %}
    <div class="my-5">
      <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5">
          <h1 class="text-body-emphasis">{{ tag.name }}</h1>
          <p class="col-lg-8 mx-auto lead">
            {{ tag.description }}
          </p>
        </div>
      </div>
    </div>
    <p class="h1 text-center">Articles related to this Tag</h1>
    <div class="p-5 text-center bg-body-tertiary">
      <div class="card-group">
          {% for blog in blogs %}
            <div class="card" style="width: 18rem;">
              <img src="{{ blog.main_image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="{% url 'detail_blog' blog.id %}"><h5 class="card-title">{{ blog.title }}</h5></a>
                <p class="card-text">{{ blog.content|safe|truncatechars:104 }}</p>
                <p class="card-text"><small class="text-body-secondary">{{ blog.update_date }}</small></p>
              </div>
            </div>
          {% empty %}
            <div class="d-flex justify-content-center">
              <p class="d-inline-flex align-items-center h3"> There is no article related with this tag</p>
            </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
