{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dilibe |{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/ibOjFz01 (1).svg' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <!-- <link rel="stylesheet" href="css/tutorial.css"> -->
    <!-- <link rel="stylesheet" href="css/tutorial_page.css"> -->
    <!-- <link rel="stylesheet" href="css/blog_page.css"> -->
    {% block style %} {% endblock %}
</head>
<body>
    <!-- <div class="container Background"> -->
        <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><img alt="logo" width="50" height="54" src="{% static 'images/ibOjFz01 (1).svg' %}" class="d-inline-block align-text-top"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="False" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" title="Page Coming Soon"> Projects</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'all_blog' %}">Blog</a></li>
                        <li class="nav-item"><a class="nav-link active" title="Page Coming Soon">Tutorial</a></li>
                        <li class="nav-item"><a class="nav-link active" title="Page Coming Soon"> Contact </a></li>
                        <li class="nav-item"><a class="nav-link active" title="Page Coming Soon"> About </a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">logout </a></li>
                        {% endif %}
                    </ul>
                    <form class="d-flex" role="search" title="Functionality not active yet">
                        <input type="search" name="search" placeholder="Search..." class="form-control me-2" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    <!-- </div> -->
    {% block body %}
    {% endblock %}

    <nav class="navbar bottom bg-body-tertiary">
        <div class="container-fluid">
            <div class="footer_logo"><img  width='50' height="50" class="d-inline-block align-text-top" src="{% static 'images/ibOjFz01 (1).svg' %}"></div>
            <ul class="row">
                <li class="nav-item col"><a class="nav-link active" aria-current="page" href="blog_list.html"> Projects</a></li>
                <li class="nav-item col"><a class="nav-link active" href="{% url 'all_blog' %}">Blog</a></li>
                <li class="nav-item col"><a class="nav-link active" href="tutorial_list.html">Tutorial</a></li>
                <li class="nav-item col"><a class="nav-link active"> Contact </a></li>
                <li class="nav-item col"><a class="nav-link active"> About </a></li>
            </ul>
            <ul class="d-flex row">
                <li class="nav-item col"><img src="{% static 'images/icons8-facebook-f-24.png' %}" alt="image of somthing is going to be here"></li>
                <li class="nav-item col"><img src="{% static 'images/icons8-instagram-logo (1).svg' %}" alt="image of somthing is going to be here"></li>
                <li class="nav-item col"><img src="{% static 'images/icons8-twitter (2).svg' %}" alt="image of somthing is going to be here"></li>
                <li class="nav-item col"><img src="{% static 'images/icon_medium.svg' %}" alt="image of somthing is going to be here"></li>
            </ul>
        </div>
    </nav>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
{% block scripts %} {% endblock %}
</html>
