@font-face {
font-family: "Acme";
src: url("../Font/Acme/Acme-Regular.ttf");
}

@font-face {
font-family: "Kanit-Black";
src: url("../Font/Kanit/Kanit-Black.ttf");
}

@font-face {
font-family: "Kanit-BlackItalic";
src: url("../Font/Kanit/Kanit-BlackItalic.ttf");
}

@font-face {
font-family: "Kanit-Bold";
src: url("../Font/Kanit/Kanit-Bold.ttf");
}

@font-face {
font-family: "Kanit-BoldItalics";
src: url("../Font/Kanit/Kanit-BoldItalic.ttf");
}

@font-face {
font-family: "Kanit-Thin";
src: url("../Font/Kanit/Kanit-Thin.ttf");
}

@font-face {
font-family: "Kanit-Light";
src: url("../Font/Kanit/Kanit-Light.ttf");
}

@font-face {
font-family: "Kanit-medium";
src: url("../Font/Kanit/Kanit-medium.ttf");
}