*{
	/* outline: 1px solid red; */
}
.Background {
	/* background-image: url('../images/x-xtgONQzGgOE-unsplash (2).jpg'); */
	/* background-image: url('../images/resul-mentes-DbwYNr8RPbg-unsplash (1).jpg'); */
	/* background-image: url('../images/alex-fxrwJGMCz_g-unsplash.jpg'); */
	/* background-image: url('../images/vladimir-anikeev-IM8ZyYaSW6g-unsplash.jpg'); */
	background-image: url('../images/adrien-olichon-ilVYjf0J378-unsplash.jpg');
	/* background-color: black; */
	background-position: center;
	background-size: cover;
	color: floralwhite;
	font-family: Acme;
	height: 100%;
}
.text_place {
	display: flex;
	flex-direction: row-reverse;
	/* widows: calc(200px/3); */
	width: 70%;
	margin: 0 auto;
	padding: 1%;
	box-sizing: border-box;
}

.second {
	width: 50%;
}
.first {
	width: 70%;
	/* font-family: 'times new roman'; */
	/* font-size: 30px; */
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
	padding-left: 10%;
	color: white;
}

.soft, .blog {
	color: orange;
	font-weight: 900;
	/* width: 100px; */
	cursor: pointer;
	padding: 1%;
	/* font-family: 'Avanta Garde'; */
	border-radius: 5px;
}
.first>span{
	padding: 10px;
}

.second>img {
	max-width: 100%;
	/* border-radius: 50%; */
	/* filter: grayscale(50%); */
	/* animation: james;
	animation-duration: 2s; */
}

/* 
	There is a css Library that the name is animate css.
	" Animate.css is a library of ready to use cross browser
	animation in your web browser "
	It is used in this way
	class="animate__animated animate__<animated_name_provided>"
	The properties can also be changed with css and javascript.
	It can be changed with css using the keyframes rule
	It can also be changed with the use of javascript by identifying
	the variable and change the style. The variable can also be 
	changed globally. It can also bve changed with the class using SAAS.

*/

input[type='search'] {
	background-color: inherit;
	color: black;
	font-size: 20px;
}

input[type='search']:placeholder-shown{
	color: black;
}
input[type='search']:focus{
	border: none;
	outline: none;
}

.Intro, .blog {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	/* background-color: green; */
	padding: 0px;
	margin: 0px;
	width: 100%;
	/* width: 20%; */
	font-weight: 900;
	font-size: 35px;
}

.inters {
	font-size: 20px;
	animation: Slide-right;
	/* animation-duration: 3s;
	animation-timing-function: linear; */
}
.occupa {
	font-size: 40px;
	font-weight: 900;
}

.first{
	animation: Slide-right;
	animation-duration: 3s;
	animation-timing-function: linear;
}
.second {
	animation: Slide-left;
	animation-duration: 3s;
	animation-timing-function: linear;
}

@media (max-width: 780px) {
	.Background {
		height: 100vh;
		width: 100%;
		background-position: center;
	}
	.text_place {
		display: flex;
		flex-direction: column;
		margin: 1% auto;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
	.tutorialckground {
		width: 100%;
		height: 100%;
	}
	.first {
		display: flex;
		justify-content: center;
		margin: 1px auto;
		width: 100%;
	}
	.first>span{
		display: flex;
		/* justify-content: center; */
		width: 70%;
		margin: 1px auto;
		font-size: 5vh;
	}

	.second{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.second>img {
		display: none;
		width: 47%;
		/* height: 10vh; */
		align-items: center;
		border-radius: 0px;
		margin: 0 auto;
	}
	.soft {
		/* font-size: 20px; */
		/* width: 100%; */
		padding: 0px 10px;
	}
	.occupa {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		/* word-spacing: 10px; */
	}
	.first{
		animation: No;
		font-family: Kanit-BoldItalics;
	}
}