.Header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.Header__image {
	width: 100%;
	height: 100%;
}

.header__image {
	width: 100%;
	height: 100%;
}

.Header__text {
	height: 0%;
	position: relative;
	top: -30%;
	width: 90%;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}

.Header__tagging {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}

.tagging__list {
	list-style: none;
	padding: 0px 2%;
	border: 1px solid white;
	text-align: center;
	border-radius: 20px;
	margin: 1%;
}

.tagging__list:hover {
	margin: 1%;
}

.Header__title, .Header__details {
	width: 70%;
}

.Header__title{
	font-family: 'Kanit-Bold';
	font-size: 40px;
	font-weight: 900;
}

.Header__details {
	font-family: kanit-Thin;
	font-weight: 900;
}

.tutorial_details {
	display: flex;
	/* flex-direction: row-reverse; */
	width: 90%;
	justify-content: space-around;
	margin: 3% auto;
}

.subscribe {
	padding: 5%;
}

.details {
	/* display: flex; */
	width: 68%;
	margin-right: 3%;
}

@media (min-width: 1201px) {
	
	.content{
		position: sticky;
		background: rgba(114, 186, 94, 0.05);
		width: 30%;
		bottom: 0rem;
		align-self: flex-end;
	}
}

.News__form {
	display: flex;
	flex-direction: column;
	outline: 1px solid black;
	padding: 4%;
	height: 50%;
	justify-content: space-between;
}

input {
	height: 5vh;
	padding-left: 7px;
	font-size: 20px;
	margin: 4% 0px;
}

input[type="button"] {
	height: 50px;
	font-size: 25px;
	font-weight: 500;
	background-color: white;

}

input[type='button']:hover {
	background-color: black;
	color: white;
	transition-property: background-color, color;
	transition-duration: 2s;
	transition-timing-function: linear;
}


/* Learning the flex something */
/* .container {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	border: 2px dashed rgba(114, 186, 94, 0.35);
	height: 400px;
	background: rgba(114, 186, 94, 0.05);
}

.shark-1 {
	position: sticky;
	top: 0;
}

.shark-2{
	position: sticky;
	top: 4rem;
}

.shark-3 {
	position: sticky;
	bottom: 1rem;
	align-self: flex-end;
}
.toop {
	height: 100%;
} */

.content__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
.content__list, .details, .News_information{
	font-family: kanit-thin;
	font-weight: 900;
	line-height: 30px;
	font-size: 20px;
}

.vertical {
	width: 1px;
	background-color: black;
	margin: 0px 2%;
	box-sizing: content-box;
}

.content__title, .News__title {
	font-family: Kanit-Bolditalics;
	text-align: center;
}

@media (max-width: 1200px) {
	.tutorial_details{
		display: flex;
		flex-direction: column;
	}
	.Header {
		height: 50vh;
	}
	.content__title, .content__list {
		display: none;
	}
	.details {
		width: 100%;
	}
}

@media (max-width: 1190px) {
	.Header__text{
		top: -70%;
	}
	.Header__title{
		font-size: 22px;
		width: 100%;
	}
	 .Header__details, .Header__tagging{
		font-size: 15px;
		width: 100%;
	}
}

@media (max-width: 320px) {
	.Header__title, .Header__details, .Header__tagging{
		font-size: 10px;
	}
}